.site-main {
  max-width: $max-width;
  margin: auto;
  padding: 2rem 3rem;
}

.woocommerce-products-header {

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;

  h1 {
    grid-column: 1;
    font-size: 2rem;
    text-align: right;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $text-color;
  }
}

ul.products {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;

  li .product {
    grid-column: span 1;
    justify-content: center;
  }
}

a.woocommerce-LoopProduct-link {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .product-text {
    margin-left: 1rem;
    // display: flex;
    // flex-wrap: wrap;
    h2 {
      color: $text-color;
    }
    span {
      color: $text-color;
    }
  }

}

a.btn-secondary {
  margin-top: 1rem;
}

// single products styles
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;

  h1 {
    grid-column: 1;
    font-size: 2rem;
    text-align: right;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $text-color;
  }

  p {
    grid-column: 1;
  }

}

.product_meta {
  a {
    color: $text-color;
  }
}

.product-name a {
  color: $text-color;
}

.menu-sidebar-menu-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 0 2rem;

  ul {
    margin: 1rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    margin: 0 .5rem;
    
    a {
      color: $text-color;

      &:hover {
        color: $accent-color;
      }
    }

    .current_page_item {
      a {
        color: $accent-color;
        font-weight: bold;
      }
    }
  }

  h2 {
    display: none;
  }

  .categories {
    display: none;
  }
}

.woocommerce-product-gallery__image {
  img {
    width: 100%;
    height: auto;
  }
}

@media(max-width: $tablet) {
  .content-area #main {
    padding: 0;
  }

  .woocommerce-products-header {
    h1 {
      grid-column: 1 / span 2;
      font-size: 1.5rem;
    }
  }

  ul.products {
    grid-template-columns: 1fr;

    li {
      justify-content: center;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
    }

    a {
      justify-content: center;
      margin: 0 auto 0.5rem auto;
    }

    a.woocommerce-LoopProduct-link .product-text {
      margin-left: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    .product-text {

      h2 {
        font-size: 1.2rem;
      }
    }

    
  }
}